### JAVA ###
src/main/resources/application-dev.yml
src/main/resources/application-pro.yml


target


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

## images
*.lpop

## NodeJS
node_modules