<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.sexygirls.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.net.sexygirls.entity.User">
        <id property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        *
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>
